:root {
  --red: #e63946ff;
  --violet: #6f58c9ff;
  --purple: #3c153bff;
  --orange: #ff6700ff;
  --green: #1DB954;
  --yellow: #e5f77dff;
  --blue:#457b9dff;
  --neutral: #f1faeeff;
}

.bigBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  background: linear-gradient(45deg, var(--neutral), var(--green), var(--neutral), var(--yellow));

  img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 80vw;
    border: solid black 5px;
    border-radius: 100px;
    box-shadow: gray 5px 5px 5px;
  }
}
.graphBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;

  .groupA {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
  }

  .graph {
    box-shadow: gray 3px 3px 5px;
   

  }

  .groupB {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px
    
  }
}



.anger {
  background: linear-gradient(45deg, var(--orange), var(--red), var(--red), var(--red), var(--yellow));
  color: black;
  text-transform: uppercase;
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.contempt{
  background: linear-gradient(45deg, var(--purple), var(--violet), var(--violet), var(--violet), var(--orange));
  color: black;
  text-transform: uppercase;
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.disgust {
  background: linear-gradient(45deg, var(--violet), var(--purple), var(--purple), var(--purple), var(--yellow));
  color: var(--neutral);
  text-transform: uppercase;
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.fear {
  background: linear-gradient(45deg, var(--red), var(--orange), var(--orange), var(--orange), var(--violet));
  color: black;
  text-transform: uppercase;
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.happiness {
  background: linear-gradient(45deg, var(--orange), var(--green), var(--green), var(--green), var(--yellow));
  color: black;
  text-transform: uppercase;
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.neutral {
  background: linear-gradient(45deg, var(--green), var(--neutral), var(--neutral), var(--neutral), var(--blue));
  color: black;
  text-transform: uppercase;
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.sadness {
  background: linear-gradient(45deg, var(--purple), var(--blue), var(--blue), var(--blue), var(--orange));
  color: black;
  text-transform: uppercase;
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.surprise {
  background: linear-gradient(45deg, var(--orange), var(--yellow), var(--yellow), var(--yellow), var(--green));
  color: black;
  text-transform: uppercase;
  background-color: var(--yellow);
  max-height: 30px;
  max-width: 100px;
  min-height: 20px;
  min-width: 50px;
  padding: 10px;
  border: solid black 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.button {
  margin: 20px 20px 20px 20px;
  background: linear-gradient(90deg, rgba(101,211,110,1) 0%, rgb(10, 110, 55) 100%);
  text-transform: uppercase;
  border: solid black 3px;
  height: 40px;
  border-radius: 50px;
  padding: 5px;
  box-shadow: gray 3px 3px 5px;
  cursor: pointer;
}
